.ludus{
    float: right;
    width: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.bar{
    background: transparent;
    
    border-radius: 24px;
    height: 44px;
    margin-top: 50px;
    margin-right: 450px;
    max-width: 584px;
    float: right;
} 


.l15{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin-top: 30px;
    margin-right: 850px;
    float: left;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.bar{
    float: center;
    margin-left: auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;

  }
  .searchbar{
      
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
  }
  .voice{
    height:20px;
    position:relative;
    top:5px;
    left:10px;
 }
 .searchbutton{
     float: left;
    width: 130px;
    height: 35px;
    margin: 11px 4px;
    padding: 0px 16px;
    color: black;
}
.buton{
    margin-left: 600px;
    margin-top: 100px;

    
}
  .footer{
      border-radius: 1px;
      border-color: black;
      height: 1px;
      background-color: rgb(231, 230, 230);
      margin-left: -100px;
      margin-right: 100px;
      float: left;
      
  }